<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163080514811-h48h37uo1kkpqpmrji4a64otjmp1i436.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163080514811-h48h37uo1kkpqpmrji4a64otjmp1i436</string>
	<key>API_KEY</key>
	<string>AIzaSyBmSt_Y66vMXZFBWPvAx_qE_5oQHGVnXoE</string>
	<key>GCM_SENDER_ID</key>
	<string>163080514811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>M00657151.FinalProject</string>
	<key>PROJECT_ID</key>
	<string>fir-4b648</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-4b648.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163080514811:ios:3d504a8d986f5391ccd45e</string>
</dict>
</plist>